*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    scroll-behavior: smooth;
}

/* HEADER */

.header{
    width:100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgb(0, 0, 0);
}
#chk1{
    display: none;
     
     
}
i{
    color: #ff7300;
    cursor: pointer;
}
.header .logo{
    flex: 1;
    color:#fffdfc;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 20px;
}
.header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: #ff7300;
    color: #fff;
}
.header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 10px;
}
.header ul li a:hover{
    border-bottom: 2px solid rgb(255, 132, 0);
}
.header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    .header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    .header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}
@media(max-width:1263px){
    .header ul li a{
        padding: 5px 6px;
    }
    .icons-fa{
        padding: 5px 6px;
    }
}
@media(max-width:1150px){
    .header ul li{
        font-size: 14px;
    }
    .header ul li a{
        padding: 5px 5px;
    }
}

.front-page {
    height: 650px;
    width: 100%;
    position: relative;
    background: url('../assets/img/background-image/white-car.gif') no-repeat center center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Evita que el contenido se desborde del contenedor */
}

/* Estilos para pantalla grande */
@media (min-width: 768px) {
    .front-page {
        background-color: #f0f0f0; /* Fondo gris para pantalla grande */
    }

    .searchnew2 {
        width: 380px;
        height: 55px;
        background-color: rgba(137, 43, 226, 0);
    }

    .titleh3 {
        background-color: #00000000;
        width: 100%;
        font-size: 40px;
        margin-bottom: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #ffffff;
    }
}

/* Estilos para pantalla pequeña */
@media (max-width: 767px) {
    .front-page {
        background-color: #f0f0f0; /* Fondo gris para pantalla pequeña */
    }

    .searchnew2 {
        width: 100%;
        height: 55px;
        background-color: rgba(137, 43, 226, 0);
    }

    .titleh3 {
        background-color: #00000000;
        width: 100%;
        font-size: 32px;
        margin-bottom: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #ffffff;
    }
}

/* Estilos del buscador */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8f8;
    border-radius: 100px;
    padding: 2px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.field-input-label-challenger input {
    width: 100%;
    padding: 1px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    outline: none;
}


@media (max-width: 767px){
    .search-container {
        width: 70vh;
        justify-content: center;
        align-items: center;
    }
    .searchnew2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}    


  /* Estilos para el icono de búsqueda */
.fa-search {
    font-size: 19px; /* Tamaño del icono, puedes ajustarlo según tus preferencias */
    color: black; /* Color negro para el icono */
    background: none; /* Eliminamos el fondo */
    border: none; /* Eliminamos el borde */
    margin-right: -1px; /* Espacio entre el icono y el campo de entrada */

  }
  
  /* Estilos para el botón de búsqueda */
  .search-button {
    background: none; /* Eliminamos el fondo */
    border: none; /* Eliminamos el borde */
    padding: 0; /* Eliminamos el relleno para que el botón no tenga altura extra */
  }

/* FINISHED HEADER */



/* CONTAINER BRANDS */



/* BODY-TYPE START */
.section-body-type{
    padding-top: 90px;
}
.container-body-car-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, .8fr));
    gap: 15px;
}

@media (max-width: 1216px){
    .container-body-car-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, .8fr));
        gap: 5px;
    }
    
}
@media (max-width: 610px){
    .container-body-car-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, .8fr));
        gap: 15px;
    }
    
}

.container-body-car-cards .body-car-cards{
    text-shadow: 0 5px 10px rgba(3, 1, 1, 0.055);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 4px 4px;
    transform: scale(1);
}   

.heading-body-type{
    /* background: linear-gradient(to right, #ff7400, #000000f8); */
    text-align: center;
    font-size: 24px;
    color: #0c0b0b;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 3px solid rgb(224, 113, 22); 
    border-top: 3px solid rgb(14, 13, 13); 
    margin-bottom: 40px;
    padding-bottom: 0px;
}

#first-title{
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
    color: #2c2b2b;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.container-body-car-cards .body-car-cards .btn-body-cards{
    text-decoration: none;
    margin-top: 20px;
    color: #000000;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.container-body-car-cards .body-car-cards:hover{
    transform: scale(1.1);
    transform: translateY(-13px);
    transition: .3s linear;
    background-color: #4447491a;
}
/* BODY-TYPE FINISHED */




/* INICIO DE MODIFICACION FAVORITE-BRAND */
.brand-cards{
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    grid-template-rows: repeat(3, 20vh) ;
    grid-template-areas: 
    "toyota ford mercedes-benz Honda"
    "Volskwagen Chevrolet Fiat Hyundai"
    "Audi Bmw Kia Nissan"
    ;
    grid-row-gap: 15px;
    grid-column-gap: 30px;
    background-color: #ffffff;
    height: 73vh;
    width: 100%;
    justify-content: center;
    align-items: centers;
}
.brand{
    height: 100vh;
}
@media (max-width: 767px){
    .brand-cards{
        display: grid;
        grid-template-columns: repeat(3, 0.4fr);
        grid-template-rows: repeat(4, 25vh) ;
        grid-template-areas: 
        "toyota ford mercedes-benz "
        "Volskwagen Chevrolet Fiat "
        "Audi Bmw Kia"
        "Hyundai Honda Nissan"
        ;
        grid-row-gap: 20px;
        grid-column-gap: 25px;
        background-color: #ffffff;
        height: 120vh;
        width: 100%;
        justify-content: center;
        align-items: centers;
    }
    .brand{
        justify-items: center;
        height: 130vh;
    }
}

@media (max-width: 625px){
    .brand-cards{
        display: grid;
        grid-template-columns: repeat(2, 0.1fr);
        grid-template-rows: repeat(6, 20vh) ;
        grid-template-areas: 
        "toyota ford "
        "Volskwagen mercedes-benz"
        "Audi Bmw "
        "Hyundai Honda"
        "Nissan Kia"
        "Fiat Chevrolet"
        ;
        grid-row-gap: 0px;
        grid-column-gap: 20px;
        background-color: #ffffff;
        height: 150vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        }
        .toyota{
            height: 100px;
            width: 150px;
        }
        .ford{
            height: 100px;
            width: 150px;
        }
        .Volskwagen{
            height: 100px;
            width: 150px;
        }
        .mercedes-benz{
            height: 100px;
            width: 150px;
        }
        .Audi{
            height: 100px;
            width: 150px;
        }
        .Bmw{
            height: 100px;
            width: 150px;
        }
        .Hyundai{
            height: 100px;
            width: 150px;
        }
        .Honda{
            height: 100px;
            width: 150px;
        }
        .Nissan{
            height: 100px;
            width: 150px;
        }
        .Kia{
            height: 100px;
            width: 150px;
        }
        .Fiat{
            height: 100px;
            width: 150px;
        }
        .Chevrolet{
            height: 100px;
            width: 150px;
        }
        .title-brand{
            font-size: 20px;
        }
        .brand{
            height: 135vh;
        }
}


.title-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: #2c2b2b;
    padding-top: 10px;
    padding-bottom: 0px;
}


.brand-cards div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e2e23d;
    margin-top: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.151);
    border-radius: 10px;
}

.brand-cards div:hover {
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.158), #b6b3b03b);
    transform: translateY(-13px);
    background-color: rgba(255, 254, 254, 0.329);
    
}

.img-brand{
    height: 41px;
    width: 43px;
}

#ford-brand{
    height: 28px;
    width: 75px;
}
#chevrolet-brand{
    height: 35px;
    width: 85px;
}
#audi-brand{
    height: 25px;
    width: 70px;
}
#toyota-brand{
    height: 38px;
    width: 56px;
}
#hyundai-brand{
    height: 38px;
    width: 58px;
}
#renault-brand{
    height: 44px;
    width: 35px;
}

/* FINALIZACIÓN DE MODIFICACIÓN FAVORITE-BRAND */





/* START COTAINER BRANDS SEDANs */
section{
    padding-top: 76px;
    display: flex;
    height: 125vh;
    background-color: #ffffff;
}
#sedan{
    height: 201vh;
}
#camionetas{
    height: 140vh;
}
#suv{
    height: 140vh;
}
#hatchback{
    height: 140vh;
}
#coupe{
    height: 79vh;
}
#minivan{
    height: 92vh;
}
@media (max-width: 1600px){
    #sedan{
        height: 185vh;
    }
    #camionetas{
        height: 130vh;
    }
    #suv{
        height: 130vh;
    }
    #hatchback{
        height: 130vh;
    }
    #coupe{
        height: 75vh;
    }
    #minivan{
        height: 85vh;
    }
}
@media (max-width: 1349px){
    .container-brands-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, .3fr));
        gap: 15px;
        grid-row-gap: 30px;
        grid-column-gap: 25px;
        justify-items: center;
    }
    #sedan{
        height: 198vh;
    }
    #camionetas{
        height: 138vh;
    }
    #suv{
        height: 138vh;
    }
    #hatchback{
        height: 138vh;
    }
    #coupe{
        height: 79vh;
    }
    #minivan{
        height: 90vh;
    }
}

@media (max-width: 1071px){
    .container-brands-cards{
        justify-content: space-evenly;
        justify-items: center;
    }
    #sedan{
        height: 238vh;
    }
    #camionetas{
        height: 237vh;
    }
    #suv{
        height: 165vh;
    }
    #hatchback{
        height: 237vh;
    }
    #coupe{
        height: 165vh;
    }
    #minivan{
        height: 110vh;
    }
}
@media (max-width: 800px){
    .container-brands-cards{
        justify-content: space-evenly;
        justify-items: center;
    }
    #sedan{
        height: 380vh;
    }
    #camionetas{
        height: 310vh;
    }
    #suv{
        height: 240vh;
    }
    #hatchback{
        height: 310vh;
    }
    #coupe{
        height: 165vh;
    }
    #minivan{
        height: 110vh;
    }
} 
@media (max-width: 524px){
    .container-brands-cards{
        justify-content: space-evenly;
        justify-items: center;
    }
    #sedan{
        height: 560vh;
    }
    #camionetas{
        height: 440vh;
    }
    #suv{
        height: 380vh;
    }
    #hatchback{
        height: 438vh;
    }
    #coupe{
        height: 260vh;
    }
    #minivan{
        height: 155vh;
    }
} 




.container-brands-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, .3fr));
    gap: 15px;
    grid-row-gap: 30px;
    grid-column-gap: 25px;
    justify-content: space-evenly;
    justify-items: center;
}
.container-brands-cards .car-cards{
    width: 287px; /* Ancho deseado para la tarjeta */
    height: 100%; /* Altura deseada para la tarjeta */
    overflow: hidden; /* Oculta cualquier contenido que exceda las dimensiones de la tarjeta */
    text-shadow: 0 5px 10px rgba(3, 1, 1, 0.2);
    box-shadow: 0 5px 10px rgba(3, 1, 1, 0.274) ;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    border-top: 10px;
}
.container-brands-cards .car-cards:hover{
    transform: scale(1.1);
    transition: .3s;
    background-color: #ff7300e1;
    
}
.container-brands-cards .car-cards b{
    display: block;
    font-size: 23px;
    margin-bottom: -5px;
    color: #242323;
}
.container-brands-cards .car-cards span{
    display: block;
    font-size: 18px;
    margin-bottom: -5px;
    
}
.container-brands-cards .car-cards img{
    width: 100%; /* La imagen ocupará el ancho completo de la tarjeta */
    height: 180px; /* La altura se ajustará automáticamente para mantener las proporciones */
    object-fit: cover; /* La imagen se ajustará al tamaño de la tarjeta, manteniendo proporciones y recortando si es necesario */
}
.container-brands-cards .car-cards h3{
    color: #000000;
    font-size: 22px;
    padding: 10px 0;
}
.container-brands-cards .car-cards p{
    color: #111010;
    font-size: 15px;
    line-height: 1.8;
}
.container-brands-cards .car-cards .btn-brand-cards{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 6px;
    padding: 8px;
}
.car-cards p{
    color: #000;
}
.car-cards h3{
    color: #000;
}
/* FINISHED CONTAINER BRANDS SEDANs*/



/* FOOTER */

/* The footer is fixed to the bottom of the page */
footer{

	bottom: 0;
    text-align: center;
    margin-top: auto;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #272626;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 80px 50px;
	margin-top: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #ff7400;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #ffffff;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.icons i {
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }



@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* FINISHED FOOTER */



.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  .scroll-to-top:hover {
    opacity: 1;
  }







